.main-grid {
    display: grid;

    grid-template-columns: 20vw 20vw 1fr;
    grid-template-rows: 0 1fr;

    grid-template-areas: 
    "header header header"
    "people-menu event-menu main";
}

.header {
  grid-area: header;

  background-color: lightblue;
}
.people-menu {
  grid-area: people-menu;

  background-color: lightgreen;
}
.main {
  grid-area: main;

  background-color: lightcoral;
}
.event-menu {
  grid-area: event-menu;
  background-color: grey;
}