
.people-container {
    margin: 0;
    padding: 5%;
}

.center-things {
    /* display: flex; */
    justify-items: center;
    align-items: center;
    width: 100%;
}

.search-input {
    background-color: lightblue;
}

.selected-ppl-list {
    transition-duration: .5s;
}

.search-ppl-list {
    
}
